# System
.DS_Store

# Node & npm
node_modules/
target/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment config
.env.local
.env.*.local

# IDE & editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
