<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vanilla Axios</title>

    <style>
        body {
            background-color: #673AB7;
            color: white;
        }
        ul {
            list-style: none;
        }
    </style>
</head>
<body>

<div>
    <h1>Todos</h1>
    <ul>

    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" >  </script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" type="module"></script>-->
<script src="app.js" type="module"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js" type="module"></script>

</body>
</html>