<!DOCTYPE html>
<html>
<head>
    <title>Изучаем Vue.js</title>
    <meta charset="utf-8" />
</head>
<body>
<div id="app">
    <select v-model.lazy="selected">
        <option disabled value="">Выберите один из вариантов</option>
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Выбрано: {{ selected }}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            selected: '',
            options: [
                { text: 'Один', value: 'А' },
                { text: 'Два', value: 'Б' },
                { text: 'Три', value: 'В' }
            ]
        }
    });
</script>
</body>
</html>
